@import url(./__triangle/kaufman__triangle.css);
@import url(../digits/table/_theme_dark/table_theme_dark.css);
@import url(../digits/section-title/_theme_dark/section-title_theme_dark.css);
@import url(../digits/section-subtitle/_theme_dark/section-subtitle_theme_dark.css);


.kaufman {
  position: relative;
  overflow: hidden;
  z-index: 1;

  background-color: #1f1f1f;
  color: #f2f2f2;
}
