@import url(./_content/_copyright/footer__column_content_copyright.css);
@import url(./_content/_info/footer__column_content_info.css);
@import url(./_content/_social/footer__column_content_social.css);

.footer__columns {
  display: flex;
  justify-content: space-between;

  margin: 0 auto 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;

  width: 90%;
  min-height: 250px;
}
